html, body {
    margin: 0;

    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;



    padding: 0;
    background-image: url(backgroundImage.png);
    /* tint it a bit darker */
    
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;

    font-family: "Alata", sans-serif;
}
.wetterBox {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    /*top shadow glow*/
    box-shadow: 0 6px 40px #ffffff33;

    /* backdrop filter for blur effect */
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
/* on hover */
.wetterBox:hover {
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(3px);
    transition: ease 0.3s;
    filter: contrast(1.1);
    transform: scale(1.01);
}
/*wenn wetterbox nicht mehr gehovert wird*/
.wetterBox:not(:hover) {
    transition: ease-out 0.3s;
}
#stadtEingabe {
    width: 20dvw;
    font-family: "Alata", sans-serif;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.8);
}

#sucheButton {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    font-family: "Alata", sans-serif;
    color: #000000;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#sucheButton:hover {
    transition: ease 0.3s;
    animation-name: bounce;
    font-family: "Alata", sans-serif;
    color: #000000;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes bounce{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#EingabeBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    max-width: 50dvw;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
}


#grossesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#kleinesHeader {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    
}
#andereEigenschaften {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    margin : 0px;
}
.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1, h2, h3, h4, h5 {
    font-family: "Alata", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

h1{
    font-size: 4.5em;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}
h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
h4{
    
}
h5{
margin-right: 5px;
}

#divMinMax, #divWolken, #divSonneAufAb {
    width : 30dvw;
}
